body {
  background-color: rgba(27, 26, 26, 1);
}


table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    border-collapse: collapse;
}



/* .cellParent {
  display: flex;
  justify-content: center;
  align-items: center;

} */

.cell {
  height: 90px !important;
  width: 90px !important;
  padding: 0px;


}

.white {
  background-color: #fff;
}

.black {
  background-color: #4e3429;
}


.pawn-black {
  background-image: url("./images/pawn-black.png");
  z-index: 10;
  background-size: cover;
}
.pawn-white {
  
  background-image: url("./images/pawn-white.png");
  background-size: 80%;
  /* transform: translate(50px, 50px); */
  background-repeat: no-repeat;
  z-index: 10;
}
.knight-white {
  
  background-image: url("./images/knight-white.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}